.bundle
.config
config/magento.yml
coverage
doc
doc/
*.gem
Gemfile.lock
.git
HEAD
hooks
info
InstalledFiles
lib/bundler/man
Manifest
pkg
*.rbc
rdoc
refs
spec/reports
test/tmp
test/version_tmp
tmp
_yardoc
.yardoc
